<div class="container">
  <div class="row">
    <div class="col s12">
      <h4 class="page-header">Lists</h4>

        <ul id="lists">
          <li ng-repeat="list in lists.all"> <a  href="#/list/{{list.id}}">{{list.name}}</a></li>
        </ul>

    </div>
  </div>

  <button ng-click="showme=true" class="btn btn-primary">Show List Form</button>
  <button ng-click="showme=false" class="btn btn-primary">Hide List Form</button>

  <div class="wrapper">
    <div ng-show="showme">
      <div class="row">
        <h4 class="page-header">Add a List</h4>
        <form class="form-group" ng-submit="addList()" id="new_list">
          <input ng-model="newList" class="form-control" type="text" placeholder="Add List" ><br>
          <input type="submit" value="List" class="btn btn-primary">

        </form>
      </div>
    </div>
  </div>
</div>
