<div class="container">
  <div class="row">
    <h4 class="page-header">{{list.name}}</h4>
  </div>
  <div ng-repeat="task in list.tasks"> 
    {{task.item}} -- {{task.due_date}} -- {{task.status}}
  </div>
<<<<<<< HEAD

=======
>>>>>>> 22d8e0394dc69efb8e41ecc434a16b8a616ce774
</div>
