<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="page-header">Lists</h4>
      <div ng-repeat="list in lists.all">
        <ul>
          <li>{{ list.name }}</li> <!-- when list/:id is filled out make this a link -->
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- FOR TESTING  <input type="text" ng-model="yourName" placeholder="Enter a name here">
  <hr>
  <h1>Hello {{yourName}}!</h1> -->
