<div class="container">
  <div class="row">
    <h4 class="page-header">{{list.name}}</h4>
  </div>
  <div ng-repeat="task in list.tasks">
    <a href="#/task/{{task.id}}">{{task.item}}</a>
    <p>{{task.due_date}} -- {{task.status}}</p>
  </div>

</div>
