<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="page-header">Lists</h4>
      <div ng-repeat="list in lists.all">
        <ul>
          <li><a href="#/list/{{list.id}}">{{list.name}}</a></li> 
        </ul>
      </div>
    </div>
  </div>
</div>
