<div class="container" >
  <h1>lists#index</h1>

  <!-- There's something wrong with how angular is set up-this example of data-binding isn't working -->
  <label>Name:</label>
  {{lists.name}}





</div>



<!-- controller: 'ListsController as lists' -->
