<div class="container" >
  <h1>Profile</h1>
    <div class="col l12 box">
      <h2>Habits will go here</h2>
    </div>

    <div class="col l12 box">
      <h2>On this day / Random Fact will go here</h2>
    </div>

    <div class="col l3 box">
      <a ui-sref="profile.lists"> User Lists</a>
    </div>

    <div class="col m9 box">
      <h2>Google Cal will go here</h2>
    </div>
    <div class="col m12 box">
      <h2>Notes will go here</h2>
    </div>

<!-- All these sections will need to be nested in profile -->

</div>


<!-- 
<div class="twitter">
	<h4>Twitter Home</h4>

	<ul>
		<li>
			<a ui-sref="home.notifications">Notifications</a>
		</li>
		<li>
			<a ui-sref="home.user">User Profile</a>
		</li>
		<li>
			<a ui-sref="home.timeline">Timeline</a>
		</li>
	</ul>

	<div ui-view />
</div> -->
