<div class="container" >
  <h1>Profile</h1>
    <div class="col-md-12 box">
      <h2>Habits will go here</h2>
    </div>

    <div class="col-md-12 box">
      <h2>On this day / Random Fact will go here</h2>
    </div>

    <div class="col-md-3 box">
      <h2>Lists will go here</h2>
    </div>

    <div class="col-md-9 box">
      <h2>Google Cal will go here</h2>
    </div>
    <div class="col-md-offset-3 col-md-9 box">
      <h2>Notes will go here</h2>
    </div>


</div>
