<div class="container">
  <div class="row">
    <h4 class="page-header">{{task.item}}</h4>
  </div>
    <p>{{task.due_date}} -- {{task.finished}}</p>
    <!-- if task is not completed, show an empty circle -->
  </div>
</div>
