<div class="container">
  <div class="row">
    <h4 class="page-header">{{task.item}}</h4>
  </div>
    {{task.item}} -- {{task.due_date}} -- {{task.finished}}
  </div>

  <ul>
    <li>Task 1</li>
    <li>Task 2</li>
    <li>Task 3</li>
  </ul>
</div>
